#customizer-app {
	background: #e3e3e3;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	box-shadow: 0 10px 30px #888;
}

#customizer-workspace {
	color: black;
	position: absolute;
	top: 80px;
	left: 30px;
	padding: 5px;
	z-index: 1;
	background: rgba(0, 0, 0, 0.05);
}

#customizer-viewer {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	z-index: 0;
}

#customizer-header {
	font-size: 20px;
	display: inline-block;
	padding: 12px;
	font-color: #222;
	text-shadow: 0px 1px 1px white;
}

#customize-header-tag {
	text-transform: uppercase;
	font-size: 15px;
	color: grey;
}

#customize-header-title {
	padding: 10px;
	padding-left: 20px;
}

#customizer-header-controls {
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

.widget {
	width:370px;
	background: rgba(255,255,255, 0.1);
	margin: 20px;
}

.widget .name {
	text-transform: uppercase;
	color: grey;
	display: inline-block;
	width: 120px;
	text-align: right;
	padding-right: 20px;
}