/* http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ */
body { 
	width:  100%;
  	height: 100%;
  	margin: 0px;
  	margin: 0;
  }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.workspace-runner-status {
	top: 90px;
	right: 60px;
	z-index: 100;
	position: absolute;
	background: none;
}

.workspace-search {
	bottom: 0px;
	left: 0px;
	font-size: 11px; 
	position: absolute;
	z-index: 100;
}

#workspace-search-input-container {
	padding-left: 10px;
}

.workspace-search-container ul {
	max-height: 500px;
	overflow-y: scroll;
	list-style: none;
	padding: 0;
	margin: 0;
}

.workspace-search-container {
	color: #BBB;
	display: inline-block;
	background-color: #222;
}

.workspace-search input {
	padding: 0;
	margin: 0;
	outline: 0;
	font-size: 11px; 
	height: 32px;
	display:inline-block; 
}

.workspace-search-button {
	height: 32px;
	padding: 8px;
	border-right: 1px solid #333;
	display:inline-block;
	color: #444;
}

.workspace-search-container {
	display: inline-block;
}

.workspace-search input:focus {
   outline:none;
}

#present-button {
	border-left: 1px solid #444;
	color: #444;
}

.connection {
	fill:none; 
	stroke-width: 3.2;
	stroke:#777;
}

.tab-button {
	display: inline-block;
	padding: 10px;
	padding-bottom: 30px;
	padding-top: 26px;
	size: 20px;
}

.tab-button a {
	color: black;
}

.tab-button:hover a {
	color: #222;
}

.tab-button-hilite a {
	color: black;
}

#tab-button-container {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

#login {

	text-align: center;
	z-index: 120;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 100px;
	background-color: #444;

}

#login h1 {
	font-size: 110px;
}

.form-group {
	padding: 5px;
}

.form-group label {
	color: #AAA;
}

.login-container {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.login-container a {
	color: #DDD;
}

#workspace-browser {
	background: #333;
	color: #666;
	display: none;
	z-index: 105;
	right: 0;
	width: 252px;
	bottom: 0;
	top: 30px;
	overflow-y: scroll;
}

#workspace-browser-contents {
	list-style: none;
	margin: 0;
	padding : 0;
}	

.workspace-browser-element-ellipsis {
	float: right;
}

.workspace-browser-element-open {
	float: right;
	color: #666;
}

.workspace-browser-element-open:hover {
	color: white;
}

.workspace-browser-element {
	margin: 0;
	border-top: 1px solid #333;
	padding: 5px;
	background: #444;
	color: #BBB;
}

.workspace-browser-element:hover {
	background: #222;
	color: white;
}

#help {
	display: none;
	z-index: 100;
	right: 0;
	width: 300px;
	bottom: 0;
	top: 26px;

	background-color: #EFEFEF;
}

.help-container {
	margin: 30px;
}

.exit-help {
	position: absolute;
	top: 15px;
	right: 15px;
}

#top_container { 
	z-index: 100;
	color: black;
	font-size: 11px;
	top: 0;
	height: 30px;
	background: #e3e3e3;
	width: 100%;
	border-bottom: 1px solid #c7bbb1;
}

#menus {
	float: right;
	padding-left: 20px;
	padding-top: 10px;
}

.menu {
	padding-right: 15px;
	color: gray;
}

#file span { 
	font-weight: 100;
	padding-top: 50px;
	margin-left: 20px;
}

.search-container {
	z-index: 105;
	top: 40%;
	left: 50%;
	max-height:  500px;
	margin-top: -150px;
	margin-left: -100px;
	width: 200px;
	background: none;
}

.search-title {
	color: white;
	padding: 5px;
	margin: 0px;
}

.search-list {
	overflow-y: hidden;
	overflow-x: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}

.search-element {
	background: #333;
	color: white;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 11px;
	border-top: solid 1px #444;
	border-bottom: solid 1px #222;
	padding: 5px;
}

.search-element:hover {
	background: #444;
}

.library-search-input {
	color: lightblue;
	padding: 10px;
	width: 200px;
	background: #222;
	border: none;
	font-size: 15px;
}

.library-search-input:focus {
    outline:none;
}

#workspaces {
	overflow:hidden; /*hide the scrollbar*/
}

#viewer {
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.workspace_container {
	position: absolute;
	top: 26px;
	overflow: auto;

	/* hide the scrollbar */
	bottom: -18px;
	right: -18px;
}

.menu-element {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	height: 30px;
	float: right;
	padding: 7px;
	display: inline-block;
	border-left: 1px solid #c7bbb1;
}

.menu-element:hover {
	color: black;
	background: #FFF;
}

#add-workspace-button {
	border-right: 1px solid #c7bbb1;
	padding: 5px;
}

.dim-button {
	opacity: 0.4;
}

.dim-button:hover{
	opacity: 1;
}

.workspace-tab {
	font-size: 11px;
	float: left;
	height: 30px;
	color: #e3e3e3;
	display: inline-block;
	border-left: 1px solid #c7bbb1;
}

.workspace-tab input{
	border: none;
	margin: 0px 5px 0px 0px;
	padding: 8px 0 5px 5px;
	display: inline-block;
	background: rgba(0,0,0,0);
}

.workspace-tab input:focus{
	outline: none;
	background: rgba(0,0,0,0.1);
}

.current-workspace {
	color: black;
	background: #C6c6c6;
}

.workspace-tab:hover {
	color: black;
	background: #FFF;
}

.workspaces_curtain {
	display: none;
	opacity: 0.4;
	background: black;
	top: 0;
	bottom: 0;
	z-index: 95;
}

.collapsed {
	opacity: 0;
}

.workspace {
	z-index: 90;
	position: absolute;
	width: 20000px;
	height: 20000px;
}

.workspace_back {
	z-index: 50;
	position: absolute;
	width: 20000px;
	height: 20000px;
}

.workspace_canvas {
	position: absolute;
	width: 20000px;
	height: 20000px;
	background-color: rgba(0,0,0,0.3);
}

#workspace_hide {
	font-size: 11px;
	bottom: 0px;
	padding-right: 10px;
	background: #222;
	position: absolute;
	z-index: 100;
	height: 32px;
}

#workspace_hide span {
	padding: 10px;
	display:inline-block; 
	font-weight: bold; 
	line-height: 12px;
	font-size: 12px; 
	margin: 3px; 
	color: #AAA;
}

#workspace_hide i {
	margin: 0px 0 0 0;
}

.rightside {
	right: 0;
}

.leftside {
	right: 0;
}


.remove-button {
	margin: 0 10px 0 0;
}

.node {

	font-size: 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

	z-index: 98;

	position: absolute;
	background: #e3e3e3;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #222;

	border: 1px solid #999;
}

.node a {
	outline: 0;
	color: #a5a5a5;
	text-decoration: none;
}

.node a:hover{
	outline: 0;
	text-decoration: none;
}

.node a:link{
	outline: 0;
	text-decoration: none;
}

.node a:visited{
	outline: 0;
	text-decoration: none;
}

.node a:active{
	outline: 0;
	text-decoration: none;
}

.currentValue {
	color:black;
}

.node-settings {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.3;
	padding: 1px 2px 1px 1px;
}

.node-settings:hover {
	opacity: 1;
}

.toggle-vis {
	display: none;
}

.node-number-input {
	padding:2px;
	margin:2px;
}

.node-evaluating {
	border: 1px solid cyan;
	color: #444;
}

.node-selected {
	z-index: 99;
	border: 1px solid #0BB;
	color: black;
}

.node-data-container {
	color: #555;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	float: left;
	padding: 5px 10px 14px 5px;
}

.node-data-container input {
	font-family: monospace;
	font-weight: normal;
}

.watch-data-container{
	max-width: 400px;
	max-height: 400px;
	margin: 0px 5px 0px 10px;
	padding: 2px;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background: #f6f6f6;
	border: 1px solid #BBB;
}

.num-data-container{
	width: 54px;
	font-size: 10px;
	font-family: monospace;
	overflow:hidden;
	margin: 0px 5px 0px 10px;
	padding: 2px;
	color: black;
	text-shadow: none;
	background: #f6f6f6;
	border: 1px solid #BBB;
}

.node-inputs, .node-outputs {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	border-bottom: 1px solid #c7bbb1;
	float: left;
}

.node-inputs-extra {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

.node-port-extra {
	padding: 5px;
	margin: 0;
	color: #AAA;
	border: 1px solid rgba(0,0,0,0);
	border-bottom: none;
}

.node-port-extra:hover {
	color: #FFF;
}

.node-port {
	padding: 5px;
	margin: 0;

	border: 1px solid #c7bbb1;
	border-bottom: none;
}

.node-port:hover {
	color: black;
	background: #FFF;
}

.node-port-output {
	border-right: none;
}

.node-port-input {
	border-left: none;
}

body {
	margin: 0;
	padding: 0;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}




/*!
 * jQuery UI Slider @VERSION
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
