<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Editor Beta - Flood</title>
        <meta name="description" content="">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

        <!-- build:css style.min.css -->
        <link rel="stylesheet" href="bower_components/jquery.ui/themes/base/jquery.ui.all.css">
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- /build -->

        <style>

          body {
            margin: 0;
            padding: 0;
            font-family:Helvetica, Arial, "Lucida Grande", sans-serif;
          }

          #login {
            background: #e3e3e3;
            text-align: center;
            z-index: 120;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;

            background-image: -ms-radial-gradient(center, circle closest-corner, #E3E3E3 0%, #C4C4C4 100%);
            background-image: -moz-radial-gradient(center, circle closest-corner, #E3E3E3 0%, #C4C4C4 100%);
            background-image: -o-radial-gradient(center, circle closest-corner, #E3E3E3 0%, #C4C4C4 100%);
            background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #E3E3E3), color-stop(1, #C4C4C4));
            background-image: -webkit-radial-gradient(center, circle closest-corner, #E3E3E3 0%, #C4C4C4 100%);
            background-image: radial-gradient(circle closest-corner at center, #E3E3E3 0%, #C4C4C4 100%);
          }

          .editor-container {
            letter-spacing: 60px;
            padding-top: 230px;
            width: 450px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            color: #666;
            text-shadow: 0 1px white;
          }

          .editor-container span {
            margin-left: 45px;
          }

          #title a {
            text-decoration: none;
          }

          .title-box {
            font-family:Helvetica, Arial, "Lucida Grande", sans-serif;
            padding: 0;
            margin: 0;
            font-size: 180px;

            text-shadow: 0 1px white;
            width: 500px;
            left: 50%;
            margin-left: -250px;

            position: absolute;
            overflow: hidden;

            transition: height 5s;
            transition-timing-function: ease-out;
          }


          #title-grey {
            height: 145px;
            z-index: 122;
            color: #272822;
            width: 500px;
          }

          #title-blue {
            position: absolute;
            color: #589cc8;
            width: 500px;
          }

          .form-group {padding: 5px;}

          .form-group label { color: #AAA; }

          .login-container {
            padding-top: 50px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
          }

          .login-container h5 {
            font-size: 18px;
            color: #666;
            text-shadow: 0 1px white;
          }

          #app-fail {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: white;
            color: #333;
            z-index: 125;
            background: #960018;
          }

          #app-fail-container {
            border-radius: 6px;
            width: 450px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            background: whitesmoke;
            margin-top: 50px;
          }
    
          #app-fail-container i {
            font-size: 150px;
            color: grey;
          }

          #app-fail-container h1 {
            text-align: center;
          }

          #app-fail-container p {
            padding-top: 20px;
            color: grey;
          }

        </style>

    </head>
    
    <body>

        <div id="app" class="row col">

          <div id="top_container" class="row" style="overflow: visible;">
                
            <div id="workspace-tabs"></div>

            <div id="add-workspace-button" class="menu-element" style="float: left;">
              <i class="fa fa-fw fa-file dim-button"></i>
            </div>

            <div id="add-workspace-select-element">
              <div id="add-workspace-select-container">
                <ul>
                  <li id="add-project-workspace">Project</li>
                  <li id="add-node-workspace">Custom node</li>
                </ul>
              </div>
            </div>

            <div id="more-menu">
              <div id="login-button" class="menu-element">
                <i class="fa fa-sign-out fa-fw"></i>
                Logout
              </div>
              <div id="workspace-browser-button" class="menu-element">
                <i class="fa fa-list-ul fa-fw"></i>Workspaces
              </div>
            </div>
  
          </div> 

          <div id="extra-menu">
            <div id="feedback-button" class="menu-element">
              <i class="fa fa-comment fa-fw"></i>
            </div>
            <div id="help-button" class="menu-element">
              <i class="fa fa-question fa-fw"></i>
            </div>

            <div id="share-button" style="margin-top: 15px" class="menu-element">
              <i class="fa fa-share fa-fw"></i>
            </div>
          </div>

          <div id="workspaces">

            <div id="workspace_hide" class="rightside workspace-search-button-active">
              <span>3D</span> <i class="fa fa-fw fa-cube fa-2x" style="margin-left: 10px"></i>
            </div>
            <div class="workspaces_curtain row"></div>

          </div>

          <div id="login" class="row col scroll-y">

            <div id="title-container">
              <div class="title-box" id="title-grey">flood</div>
              <div class="title-box" id="title-blue">flood</div>
            </div>

            <div class="editor-container"><span>EDITOR</span></div>

            <div class="login-container">
              <h5>Wait for it...</h5>
            </div>
          </div>

          <div id="help" class="col">
            
          </div>

          <div id="feedback" class="modal row col">
            
          </div>

          <div id="share" class="modal row col">
            
          </div>

          <div id="workspace-browser" class="col">
            
          </div>

          <div id="viewer" class="row blur"></div>

          <div id="app-fail" style="display: none">
  
            <div id="app-fail-container">
              <h1><i class="fa fa-fw fa-2x fa-exclamation-triangle"></i></h1>
              <h1>Flood requires WebGL!</h1>
              <p>
                It's also possible that WebGL is disabled in your browser or has failed to load.  You'll need to use a 
                web browser that <a href="http://caniuse.com/#search=webgl">supports WebGL</a> to use Flood.  
              </p>
            </div>

          </div>

        </div>

      </body>

      <script>
        setTimeout(function(){ 
          document.getElementById("title-grey").style.height = "10px";
        }, 10);
      </script>

      <script type="text/template" id="node-template">

        <div class="node-last-value-container">
          <div class="node-last-value"><%- preview %></div>
          <div class="node-failure-message"><%- failureMessage %></div>
        </div>

        <ul class="node-inputs">

          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> 
              <span class="node-port-name"><%= ele.name %></span>
            </li>
          <% }); %>
        </ul>

        <ul class="node-inputs-extra">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port-extra" data-index=" <%= index %> "> 
              
              <div class="dropdown">

                <a data-toggle="dropdown" href="#">&#8942;</a>

                <ul class="dropdown-menu node-dropdown-menu" role="menu" aria-labelledby="dLabel">

                  <% if (ele.typeName) { %>
                    <li class="dropdown-header">Type</li>
                    <span class="node-dropown-menu-item"><%= ele.typeName %></span>
                  <% } %>

                  <li role="presentation" style="color: black">
                    <li class="dropdown-header" style="padding: 0">Use Default</li>
                    
                    <span class="node-dropown-menu-item"> 
                      <input type="checkbox" class="use-default-checkbox" data-index="<%= index %>" <%= !ignoreDefaults[index] ? "checked" : ""%> >
                      <%= ele.defaultVal != undefined ? JSON.stringify( ele.defaultVal ) : "None" %>
                    </span>
                  </li>

                </ul>
              </div>
                    
            </li>
          <% }); %>
        </ul>

        <div class="node-data-container" >
          <span class="name">
            <% if ( !name || name === "DefaultNodeName" || name === "") { %>
              <%= typeName != "CustomNode" ? typeName : type.functionName  %>
            <% } else { %>
              <%= name %>
            <% } %>
          </span>
        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

        <div class="dropdown node-settings" style="position:absolute">

          <a data-toggle="dropdown" href="#">
            <span style="color:black; padding: 1px">...</span>
          </a>

          <ul class="dropdown-menu node-dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li class="dropdown-header" style="font-size: 10px; padding: 0" >Visibility</li>

            <li class="toggle-vis node-dropown-menu-item">
              <i class="fa fa-fw fa-eye"></i><span style="padding-left: 5px">Hide geometry</span>
            </li>

            <li class="dropdown-header">Replication</li>

            <li class="node-dropown-menu-item">
              <div class="btn-group btn-group-xs" style="padding: 0px; padding-top: 5px; font-size: 10px">
                <button type="button" class="rep-type btn btn-default"  style="font-size: 10px" data-rep-type="applyLongest">Long</button>
                <button type="button" class="rep-type btn btn-default"  style="font-size: 10px" data-rep-type="applyCartesian">Cross</button>
              </div>
            </li>

            <li class="dropdown-header">Name</li>
            <li class="node-dropown-menu-item">
              <input class="name-input" value="<%= name %>">
            </li>

          </ul>
        </div>

      </script>

      <script type="text/template" id="node-custom-template">

          <i class="fa fa-fw fa-bolt"></i>          
          <span class="name searchfield"><%= type.functionName  %></span>

      </script>

      <script type="text/template" id="node-formula-template">

        <a href="#" class="add-input"> + </a> 
        <a href="#" class="remove-input" style="padding-left: 10px; padding-right: 10px"> - </a>
        <input type="text" class="formula-text-input" placeholder="Custom formula" value="<%= extra.script %>">

      </script>

      <script type="text/template" id="node-input-template">

        <div class="node-data-container node-input-container">
          <input type="text" class="text-input" placeholder="Input name" value="<%= extra.script %>">
        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

      </script>

      <script type="text/template" id="node-output-template">

        <ul class="node-inputs">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span>  </li> 
          <% }); %>
        </ul>

        <div class="node-data-container node-output-container">
          <input type="text" class="text-input" placeholder="Output name" value="<%= extra.script %>">
        </div>

      </script>

      <script type="text/template" id="node-watch-template">

        <ul class="node-inputs">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span>  </li> 
          <% }); %>
        </ul>

        <div class="node-data-container watch-data-container">
          <span class="name searchfield"><pre><%= prettyValue ? prettyValue : "Nothing" %></pre></span>
        </div>

      </script>

      <script type="text/template" id="workspace-tab-template">

        <i class="fa fa-fw fa-pencil dim-button edit-button" style="visibility: hidden; margin-left: 10px"></i>
        <span class="workspace-tab-function <%= isCustomNode ? "" : "hidden" %>">
          <i class="fa fa-bolt"></i>
        </span>
        <input class="workspace-name" disabled="disabled" value="<%= name %>"></input>
        <i class="fa fa-fw fa-times dim-button remove-button"></i>

      </script>

      <script type="text/template" id="node-num-template">

        <div class="node-data-container">

          <% if (name && name != "DefaultNodeName" && name != "") { %>
            <span style="margin-right: 10px" class="name">
              <%= name %>
            </span>
          <% } %>

          <div class="slider" style="display: inline-block; width: 120px; height: 8px; margin: 0; padding: 0"></div>

          <div class="num-data-container" style="display: inline-block;">
            <input type="number" class="currentValue" style="number-node-input" value="<%= type.value %>" />
          </div>

        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

         <div class="dropdown keep-open node-settings" style="position:absolute">

          <a href="#" data-toggle="dropdown" href="#">
            <span style="color:black; padding: 1px">...</span>
          </a>

          <ul class="dropdown-menu node-dropdown-menu" role="menu" style="color: black" aria-labelledby="dLabel">

            <li class="dropdown-header">Min</li>
            <li class="node-dropown-menu-item">
              <input type="number" class="num-min">
            </li>

            <li class="dropdown-header">Max</li>
            <li class="node-dropown-menu-item">
              <input type="number" class="num-max">
            </li>

            <li class="dropdown-header">Stepsize</li>
            <li class="node-dropown-menu-item">
              <input type="number" class="num-step">
            </li>

            <li class="dropdown-header">Name</li>
            <li class="node-dropown-menu-item">
              <input class="name-input" value="<%= name %>">
            </li>
            
            <li class="dropdown-header">
              Hide in customizer <input type="checkbox" style="margin-left: 10px" <%= extra.lock ? "checked" : ""%> class="lock-input">
            </li>

          </ul>
        </div>

      </script>

      <script type="text/template" id="search-template">
        <div class="search-top-container">
          <input placeholder="Add a node..." class="library-search-input search"></input>
        </div>
        <ul class="list search-list">
        </ul>
      </script>

      <script type="text/template" id="workspace-browser-template">

        <div id="workspace-browser-contents">

          <span class="workspace-browser-header row" id="workspace-browser-header-projects">
            Projects
            <i class="workspace-browser-header-refresh icon-refresh dim-button workspace-browser-refresh" ></i>
          </span>
          <ul class="workspace-browser-element-list row scroll-y" id="workspace-browser-projects"></ul>

          <span class="workspace-browser-header row" id="workspace-browser-header-custom-nodes">
            Custom Nodes
            <i class="workspace-browser-header-refresh icon-refresh dim-button workspace-browser-refresh" ></i>
          </span>
          <ul class="workspace-browser-element-list row scroll-y" id="workspace-browser-custom-nodes"></ul>

        </div>
      </script>

      <script type="text/template" id="workspace-browser-element-template">

        <div style="display: inline-block;" class="workspace-browser-element-data">
          <%= name %>
          <br>
          <span class="workspace-browser-element-date"><%= prettyDate %></span>
        </div>
        
        <div style="display: inline-block; visibility: hidden" class="dropdown workspace-browser-element-ellipsis" >

          <a data-toggle="dropdown" href="#">&#8230;</a>

          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <li role="presentation" class="deleteWorkspace">
              <a role="menuitem" tabindex="-1" href="#">
                Delete...
              </a>
            </li>

          </ul>
        </div>

        <div style="float: right; visibility: hidden" class="workspace-browser-element-open">
          Open
        </div>
      </script>

      <script type="text/template" id="workspace-search-template">
        
        <div class="workspace-search-container" id="workspace-search-input-container">

          <ul class="list search-list" style="display:none;">
          </ul>

          <div class="search-bottom-container">

            <i style="display:inline-block;" class="icon-search icon-white dim-button" ></i>
            <input placeholder="Add a node..." id="bottom-search" class="library-search-input search"></input>

          </div>

        </div>

        <div class="workspace-search-container">

          <div id="undo-button" class="workspace-search-button workspace-search-button-active">

            <i class="fa fa-lg fa-fw dim-button fa-rotate-left white-icon"></i>

          </div>

          <div id="redo-button" class="workspace-search-button workspace-search-button-active">

             <i class="fa fa-lg fa-fw  dim-button fa-repeat white-icon"></i>

          </div>

        </div>

        <div class="workspace-search-container">

          <div id="copy-button" class="workspace-search-button workspace-search-button-active">

            <i class="fa fa-lg fa-fw dim-button fa-copy white-icon"></i>

          </div>

          <div id="paste-button" class="workspace-search-button workspace-search-button-active">

            <i class="fa fa-lg fa-fw dim-button fa-paste white-icon"></i>

          </div>

          <div id="delete-button" class="workspace-search-button workspace-search-button-active">

            <i class="fa fa-lg fa-fw dim-button fa-eraser white-icon"></i>

          </div>

        </div>

        <div class="workspace-search-container">

          <div id="zoomin-button" class="workspace-search-button workspace-search-button-active">
              <i class="fa fa-lg fa-fw dim-button fa-plus white-icon"></i>
          </div>

          <div id="zoomout-button" class="workspace-search-button workspace-search-button-active">
            <i class="fa fa-lg fa-fw dim-button fa-minus white-icon"></i>
          </div>

          <div id="zoomreset-button" class="workspace-search-button workspace-search-button-active">
             <i class="fa fa-lg fa-fw dim-button fa-arrows-alt white-icon"></i>
          </div>

        </div>

        <div class="workspace-search-container">

          <div id="export-button" class="workspace-search-button workspace-search-button-active">
            <i class="fa fa-lg fa-fw dim-button fa-download white-icon"></i>
          </div>

        </div>

      </script>

      <script type="text/template" id="workspace-runner-status-template">

      </script>

      <script type="text/template" id="search-element-template">
        <span class="name"><%= name %></span>
      </script>

      <script type="text/template" id="connection-template">
        M<%-aX%>,<%-aY%> C<%-bX%>,<%-bY%> <%-cX%>,<%-cY%> <%-dX%>,<%-dY%>
      </script>

      <script type="text/template" id="login-template">

        <div id="login-failure-message">
        </div>

        <div id="tab-button-container">
          <a id="login-tab-button" href="#" class="btn btn-block btn-flood btn-social"><i class="fa fa-check"></i>Sign in with Flood</a>
        </div>

        <form id="signup-form" style="display:none">

          <input type="hidden" name="_csrf">

          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control">
          </div>

          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
          </div>

          <div class="form-group">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i>Signup</button>
          </div>

        </form>

        <form id="login-form" style="display:none">

          <input type="hidden" name="_csrf">

          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" name="email" id="login-email" placeholder="Email" autofocus="" class="form-control">
          </div>

          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" id="login-password" placeholder="Password" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" id="submit-login" class="btn btn-primary"><i class="fa fa-fw fa-unlock-alt"></i>Login</button>
          </div>

        </form> 

        <div id="signup-tab-button" class="tab-button"><a href="#">New account...</a></div>

        <a href="/auth/google" class="btn btn-block btn-google-plus btn-social"><i class="fa fa-google-plus"></i>Sign in with Google</a>
        <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i>Sign in with Facebook</a>

      </script>

      <script type="text/template" id="share-template">

        <div id="share-box" class="modal-box">

          <i id="exit-share" class="fa fa-fw fa-times dim-button"></i>
          <h3 id="feedback-title">
            <i class="fa fa-share fa-2x fa-fw" style="padding-right: 10px"></i>Share
          </h3>
          <p>Share your project as a customizable product website</p>

          <div class="inner-box">
            Sharing <br/>
            <i class="fa fa-fw fa-toggle-off dim-button is-customizer-checkbox"></i> 
            <span class="indicator public">public</span> <span class="indicator private">private</span>
          </div>

          <div class="inner-box">
            Stable URL <a href="http://<%= url %>" target="_blank" style="font-style: italic; color: grey">Visit</a>
            <br/>
            <input type="text" readonly class="customizer-url" placeholder="Project Url" value="<%= url %>">
          </div>

        </div>

      </script>

      <script type="text/template" id="feedback-template">

        <div id="feedback-box" class="modal-box">
          <i id="exit-feedback" class="fa fa-fw fa-times dim-button"></i>
          <h3 id="feedback-title">
            <i class="fa fa-comment fa-2x fa-fw" style="padding-right: 10px"></i>Send Feedback
          </h3>
          <p>Feel free to send comments, suggestions, or issues.</p>

          <div id="feedback-failure-message"></div>
          <div id="feedback-sending-message">Sending...</div>
          <div id="feedback-success-message">Sent!</div>

          <form id="feedback-form">

            <input type="hidden" name="_csrf">

            <div class="form-group">
              <label for="subject" class="control-label">Subject</label>
              <input type="text" name="subject" id="feedback-subject" placeholder="Subject" autofocus="" class="form-control">
            </div>

            <div class="form-group">
              <label for="message" class="control-label">Message</label>
              <textarea name="message" id="feedback-message" placeholder="Message" autofocus="" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <button type="submit" id="submit-feedback" class="btn btn-primary">Submit</button>
            </div>

          </form>
        </div>
        </div>

      </script>

      <script type="text/template" id="help-section-template">

        <div class="enter-help-section" data-target-id="<%= targetId %>" style="left: <%= elementPosition[0] %>px; top: <%= elementPosition[1] %>px;">
          ?
        </div>
        <div class="help-section" data-target-id="<%= targetId %>" style="left: <%= elementPosition[0] + offset[0] %>px; top: <%= elementPosition[1] + offset[1]  %>px;">
          <span><%= title %> </span>
          <p><%= text %></p>
          <div class="exit-help-section" data-target-id="<%= targetId %>">Ok, got it!</div>
          <div class="exit-help" data-target-id="<%= targetId %>">Exit all</div>
        </div>

      </script>


      <script>

        function checkWebGL() { 
           try{
            var canvas = document.createElement( 'canvas' ); 
            return !! window.WebGLRenderingContext && ( 
                 canvas.getContext( 'webgl' ) || canvas.getContext( 'experimental-webgl' ) );
           }catch( e ) { return false; } 
         };

        if (!checkWebGL()) {
          var appfail = document.getElementById("app-fail");
          appfail.style.display = '';
        }

      </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- Application source. -->
    <!-- build:[src] source.min.js -->
    <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- /build -->

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54947421-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
