<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>flood</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    
    <body>

        <div id="app">

          <div id="top_container" class="row">
                
            <div id="workspace-tabs"></div>

            <div id="add-workspace-button" class="menu-element" style="float: left">
              <i class="icon-file icon-white dim-button"></i>
            </div>

            <div id ="help-button" class="menu-element"> 
              <i class="icon-question-sign icon-white dim-button"></i>
            </div>
            
            <div id="more-menu" style="display: none;">
              <div id="login-button" class="menu-element">Login</div>
              <div id="settings-button" class="menu-element">Settings</div>
              <!-- <div id="help-button" class="menu-element">Help</div> -->
            </div>
  
          </div> 

          <div id="workspaces" class="row">

            <div id="workspace_hide" class="rightside">
              <span>3D</span>
              <i  style="display:inline-block;" class="icon-arrow-left icon-white dim-button" ></i>
            </div>
            <div class="workspaces_curtain row"></div>

          </div>

          <div id="help" class="col">
            
          </div>

          <div id="viewer" class="row blur"></div>

        </div>

      </body>

      <script type="text/template" id="node-template">

        <ul class="node-inputs">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span>  </li> 
          <% }); %>
        </ul>

        <div class="node-data-container" >
          <span class="name searchfield"><%- typeName %></span>
        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

        <div class="toggle-vis" title="Toggle geometry visibility">
          <img src="images/toggle_vis.png" style="width: 14px; height: 13px" />
        </div>

      </script>

      <script type="text/template" id="node-watch-template">

        <ul class="node-inputs">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span>  </li> 
          <% }); %>
        </ul>

        <div class="node-data-container watch-data-container" >
          <span class="name searchfield"><%= JSON.stringify(lastValue) %></span>
        </div>

      </script>

      <script type="text/template" id="workspace-tab-template">

        <i class="icon-pencil icon-white dim-button edit-button" style="visibility: hidden; margin-left: 10px"></i>
        <input class="workspace-name" disabled=”disabled” value="<%= name %>"></input>
        <i class="icon-remove icon-white dim-button remove-button"></i>

      </script>

      <script type="text/template" id="node-num-template">

        <div class="node-data-container" >
          <input class="node-number-input" min="-100" max="100" step ="0.1" type="range" value="<%= type.value %>"></input> 
        </div>

        <div class="node-data-container num-data-container" style="margin-right: 10px; margin-left: 5px">
          <span class="currentValue" style="font-size: 12px;"><%= type.value %></span>
        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

      </script>

      <script type="text/template" id="search-template">
        <div class="search-top-container">
          <input placeholder="Add a node..." class="library-search-input search"></input>
        </div>
        <ul class="list search-list">
        </ul>
      </script>

      <script type="text/template" id="workspace-search-template">
            
        <ul class="list search-list" style="display:none;">
        </ul>

        <div class="search-bottom-container">

          <i style="display:inline-block;" class="icon-search icon-white dim-button" ></i>
          <input placeholder="Add a node..." class="library-search-input search"></input>

        </div>

      </script>

      <script type="text/template" id="search-element-template">
        <span class="name"><%= name %></span>
      </script>

      <script type="text/template" id="connection-template">
        M<%-aX%>,<%-aY%> C<%-bX%>,<%-bY%> <%-cX%>,<%-cY%> <%-dX%>,<%-dY%>
      </script>

      <script type="text/template" id="help-template">

        <div class="help-container">
          <h2 class="help-title">Help</h2>
          <h3 class="help-title">Add a node</h3>
          <p>Double click on your workspace to make a new node </p>
          <h3 class="help-title">Remove a node</h3>
          <p>Select the node and hit the delete key</p>
          <h3 class="help-title">Making a connection</h3>
          <p>Click and drag from an output port to an input port</p>
          <h3 class="help-title">Removing a connection</h3>
          <p>Click and drag away from the connections end port</p>
          <h3 class="help-title">Select multiple nodes</h3>
          <p>Hold shift while clicking on new nodes</p>
        </div>

        <i class="icon-remove exit-help" />

      </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.ingruntsertBefore(g,s)}(document,'script'));
        </script> -->
  
    <!-- Application source. -->
    <!-- build:[src] source.min.js -->
    <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- /build -->

</body>
</html>
