ç<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>flood : visual programming on the web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">

        <!-- progress -->
        <style>
          /* pace progress bar */
          .pace .pace-progress {
            background: #29d;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            height: 2px;

            -webkit-transition: width 1s;
            -moz-transition: width 1s;
            -o-transition: width 1s;
            transition: width 1s;
          }

          .pace-inactive {
            display: none;
          }
        </style>
        

        <!-- jqueryui -->
        <link rel="stylesheet" href="bower_components/jquery.ui/themes/base/jquery.ui.all.css">
    </head>
    
    <body>

        <div id="app" class="row col">

          <div id="top_container" class="row">
                
            <div id="workspace-tabs"></div>

            <div id="add-workspace-button" class="menu-element" style="float: left">
              <i class="icon-file dim-button"></i>
            </div>

            <div id="more-menu">
              <div id="login-button" class="menu-element"></div>
              <div id="workspace-browser-button" class="menu-element">Workspaces</div>
            </div>
  
          </div> 

          <div id="workspaces">

            <div id="workspace_hide" class="rightside workspace-search-button-active">
              Switch Focus
            </div>
            <div class="workspaces_curtain row"></div>

          </div>

          <div id="login" class="row col">
             <div class="login-container">

              <h1>flood</h1>

              <h4>wait for it...</h4>

            </div>
          </div>

          <div id="help" class="col">
            
          </div>

          <div id="workspace-browser" class="col">
            
          </div>

          <div id="viewer" class="row blur"></div>

        </div>

      </body>


      <script type="text/template" id="node-template">

        <div class="node-last-value-container">
          <div class="node-last-value"><%- preview %></div>
          <div class="node-failure-message"><%- failureMessage %></div>
        </div>

        <ul class="node-inputs">

          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> 
              <span class="node-port-name"><%= ele.name %></span>
            </li>
          <% }); %>
        </ul>

        <ul class="node-inputs-extra">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port-extra" data-index=" <%= index %> "> 
              
              <div class="dropdown">

                <a data-toggle="dropdown" href="#">&#8942;</a>

                <ul class="dropdown-menu" role="menu" style="padding: 5px;" aria-labelledby="dLabel">

                  <li role="presentation" style="color: black">
                      <input type="checkbox" class="use-default-checkbox" data-index="<%= index %>" <%= !ignoreDefaults[index] ? "checked" : ""%> > Use default : <%= ele.defaultVal != undefined ? JSON.stringify( ele.defaultVal ) : "None" %>
                  </li>

                </ul>
              </div>

            </li>
          <% }); %>
        </ul>

        <div class="node-data-container" >
          <span class="name searchfield"><%- typeName %></span>
        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

        <div class="dropdown node-settings" style="position:absolute">

          <a data-toggle="dropdown" href="#">
            <span style="color:black; padding: 1px">...</span>
          </a>

          <ul class="dropdown-menu" role="menu" style="padding: 5px; font-size: 10px" aria-labelledby="dLabel">

            <li class="toggle-vis">
              <a role="menuitem" tabindex="-1" href="#" style="font-size: 10px" >
                <i class="icon-eye-open"></i><span style="padding-left: 5px">Hide geometry</span>
              </a>
            </li>

            <li class="dropdown-header" style="font-size: 10px; padding: 0" >Replication</li>

            <li >
              <div class="btn-group btn-group-xs" style="padding: 0px; padding-top: 5px; font-size: 10px">
                <button type="button" class="rep-type btn btn-default"  style="font-size: 10px" data-rep-type="applyLongest">Long</button>
                <button type="button" class="rep-type btn btn-default"  style="font-size: 10px" data-rep-type="applyCartesian">Cross</button>
              </div>
            </li>

          </ul>
        </div>

      </script>

      <script type="text/template" id="node-formula-template">

        <a href="#" class="add-input"> + </a> 
        <a href="#" class="remove-input" style="padding-left: 10px; padding-right: 10px"> - </a>
        <input type="text" class="formula-text-input" placeholder="Custom formula" value="<%= extra.script %>">

      </script>

      <script type="text/template" id="node-watch-template">

        <ul class="node-inputs">
          <% _.each(type.inputs, function(ele, index) { %> 
            <li class="node-port node-port-input" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span>  </li> 
          <% }); %>
        </ul>

        <div class="node-data-container watch-data-container">
          <span class="name searchfield"><pre><%= prettyValue ? prettyValue : "Nothing" %></pre></span>
        </div>

      </script>

      <script type="text/template" id="workspace-tab-template">

        <i class="icon-pencil dim-button edit-button" style="visibility: hidden; margin-left: 10px"></i>
        <input class="workspace-name" disabled="disabled" value="<%= name %>"></input>
        <i class="icon-remove dim-button remove-button"></i>

      </script>

      <script type="text/template" id="node-num-template">

        <div class="node-data-container">

          <div class="slider" style="display: inline-block; width: 140px; height: 8px; margin: 0; padding: 0"></div>

          <div class="num-data-container" style="display: inline-block;">
            <input type="number" class="currentValue" value="<%= type.value %>" />
          </div>

        </div>

        <ul class="node-outputs" >
          <% _.each(type.outputs, function(ele, index) { %> 
            <li class="node-port node-port-output" data-index=" <%= index %> "> <span class="node-port-name"> <%= ele.name %> </span> </li> 
          <% }); %>
        </ul>

         <div class="dropdown keep-open node-settings" style="position:absolute">

          <a href="#" data-toggle="dropdown" href="#">
            <span style="color:black; padding: 1px">...</span>
          </a>

          <ul class="dropdown-menu" role="menu" style="padding: 5px; color: black" aria-labelledby="dLabel">

            <li role="presentation">
               Min:<input type="number" class="num-min">
            </li>

            <li role="presentation">
               Max: <input type="number" class="num-max">
            </li>

            <li role="presentation">
               Step: <input type="number" class="num-step">
            </li>

          </ul>
        </div>

      </script>

      <script type="text/template" id="search-template">
        <div class="search-top-container">
          <input placeholder="Add a node..." class="library-search-input search"></input>
        </div>
        <ul class="list search-list">
        </ul>
      </script>

      <script type="text/template" id="workspace-browser-template">
        <h5 style="padding: 5px;">My Workspaces</h5>
        <ul id="workspace-browser-contents">
        </ul>
      </script>

      <script type="text/template" id="workspace-browser-element-template">

        <div style="display: inline-block;" class="workspace-browser-element-data">
          <%= name %>
          <br>
          <span class="workspace-browser-element-date"><%= prettyDate %></span>
        </div>
        
        <div style="display: inline-block; visibility: hidden" class="dropdown workspace-browser-element-ellipsis" >

          <a data-toggle="dropdown" href="#">&#8230;</a>

          <ul class="dropdown-menu" role="menu" style="padding: 5px;" aria-labelledby="dLabel">

            <li role="presentation" class="deleteWorkspace">
              <a role="menuitem" tabindex="-1" href="#">
                Delete...
              </a>
            </li>

          </ul>
        </div>

        <div style="float: right; visibility: hidden" class="workspace-browser-element-open">
          Open
        </div>

      </script>

      <script type="text/template" id="workspace-search-template">
        
        <div class="workspace-search-container" id="workspace-search-input-container">

          <ul class="list search-list" style="display:none;">
          </ul>

          <div class="search-bottom-container">

            <i style="display:inline-block;" class="icon-search icon-white dim-button" ></i>
            <input placeholder="Add a node..." class="library-search-input search"></input>

          </div>

        </div>

        <div class="workspace-search-container">

          <div id="undo-button" class="workspace-search-button workspace-search-button-active">

            Undo

          </div>

          <div id="redo-button" class="workspace-search-button workspace-search-button-active">

            Redo

          </div>

        </div>

        <div class="workspace-search-container">

          <div id="copy-button" class="workspace-search-button workspace-search-button-active">

            Copy

          </div>

          <div id="paste-button" class="workspace-search-button workspace-search-button-active">

            Paste

          </div>

          <div id="delete-button" class="workspace-search-button workspace-search-button-active">

            Delete

          </div>

        </div>

        <div class="workspace-search-container">

          <div style="display: inline-block; color: #444; padding-left: 8px">Zoom</div>
          <div id="zoomin-button" class="workspace-search-button workspace-search-button-active">
            +
          </div>

          <div id="zoomout-button" class="workspace-search-button workspace-search-button-active">
            -
          </div>

          <div id="zoomreset-button" class="workspace-search-button workspace-search-button-active">
            Reset
          </div>

        </div>

      </script>

      <script type="text/template" id="workspace-runner-status-template">

      </script>

      <script type="text/template" id="search-element-template">
        <span class="name"><%= name %></span>
      </script>

      <script type="text/template" id="connection-template">
        M<%-aX%>,<%-aY%> C<%-bX%>,<%-bY%> <%-cX%>,<%-cY%> <%-dX%>,<%-dY%>
      </script>

      <script type="text/template" id="login-template">

        <div class="login-container">

          <h1>flood</h1>

          <h4>visual programming on the web</h4>

          <div id="tab-button-container">
            <div id="login-tab-button" class="tab-button tab-button-hilite"><a href="#">Login</a></div>
            <div id="signup-tab-button" class="tab-button"><a href="#">Signup</a></div>
          </div>

          <div id="login-failure-message">
          </div>

          <form id="signup-form" style="display:none">

            <input type="hidden" name="_csrf">

            <div class="form-group">
              <label for="email" class="control-label">Email</label>
              <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control">
            </div>

            <div class="form-group">
              <label for="password" class="control-label">Password</label>
              <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
              <label for="confirmPassword" class="control-label">Confirm Password</label>
              <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Signup</button>
            </div>

          </form>

          <form id="login-form" style="display:none">

            <input type="hidden" name="_csrf">

            <div class="form-group">
              <label for="email" class="control-label">Email</label>
              <input type="text" name="email" id="login-email" placeholder="Email" autofocus="" class="form-control">
            </div>

            <div class="form-group">
              <label for="password" class="control-label">Password</label>
              <input type="password" name="password" id="login-password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
              <button type="submit" id="submit-login" class="btn btn-primary"><i class="fa fa-unlock-alt"></i>Login</button>
              <a href="/forgot" class="btn btn-link">Forgot your password?</a>
            </div>

          </form>
        </div>

      </script>

      <script type="text/template" id="help-template">

        <div class="help-container">
          <h2 class="help-title">Help</h2>
          <h3 class="help-title">Add a node</h3>
          <p>Use the node library in the bottom right corner or double click on your workspace to make a new node </p>
          <h3 class="help-title">Remove a node</h3>
          <p>Select the node and hit the delete/backspace key</p>
          <h3 class="help-title">Making a connection</h3>
          <p>Click and drag from an output port to an input port</p>
          <h3 class="help-title">Removing a connection</h3>
          <p>Click and drag away from the connections end port</p>
          <h3 class="help-title">Select multiple nodes</h3>
          <p>Hold shift while clicking on new nodes</p>
        </div>

        <i class="icon-remove exit-help" />

      </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.ingruntsertBefore(g,s)}(document,'script'));
        </script> -->
  
    <script src="bower_components/pace/pace.min.js"></script>

    <!-- Application source. -->
    <!-- build:[src] source.min.js -->
    <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- /build -->

</body>
</html>
